@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Work Sans", Arial, Helvetica, sans-serif ;
}

body{
    background-image: linear-gradient(to right, #33373D, #084DE1, #364C7A);
    font:  italic normal 1em "Work Sans", Arial, Helvetica, sans-serif
} 

main{
    width: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: auto;
}

h1{
    color: #33373D;
    font: italic bolder 3em "Work Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: #2A53AD;
}

p{
    text-align: justify;
}
