@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@font-face {
    font-family: "optimus";
    src: url(fontes/OptimusPrincepsSemiBold.ttf) format(truetype);
}



*{
    margin: 0px;
    padding: 0px;
}

:root{
   --font-destaque:"Passion One", sans-serif;
   --font-texto:"optimus", sans-serif;
}

body{
    height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-family: var(--font-destaque);
    font-variant: small-caps;
    font-size: 4em;
}

header > p{
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: white;
    font-family: var(--font-destaque);
    text-decoration: none;  
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--font-texto);
    font-size: 3vh;
}

section > p{
    padding-bottom: 1em;
}

.normal{
    background-color: white;
    line-height: 2em;
}

.imagem{     
    box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.233);
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.185);    
    width: 300px;
    padding: 15px;
    color: white;
    text-shadow: 2px 2px 0px black;
}

#dragao{
    background: url(imagens/nameless001.jpg) center center no-repeat fixed;
    background-size: cover;       
}

#rei{
    background: url(imagens/nameless002.jpg) center top no-repeat fixed;
    background-size: cover;
    line-height: 1.5em;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

